<div class="flex md:mt-48 md:justify-around">
  <div class="md:block hide-on-sm">
    <%= render partial: "sessions/login/details" %>
  </div>

  <div class="p-4 w-full md:w-1/4 bg-white shadow-2xl rounded">
    <h1 class="md:hidden text-center text-gray-600 text-4xl font-bold">
      Login to your PSM server
    </h1>

    <div class="mt-10 md:mt-0">
      <%= form_with url: login_sessions_path, scope: :login, class: "pure-form", data: { controller: "utils--qr-code-file-scanner" }, id: "login" do |f| %>
        <div class="flex items-center" data-controller="forms--password">
          <%= f.password_field :recovery_code, placeholder: "Recovery Code", required: true, class: "w-full", data: { "utils--qr-code-file-scanner-target": :output, "forms--password-target": :input } %>
          <div class="pl-2 text-center">
            <%= fa_icon "eye 2x", data: { "forms--password-target": :icon, action: "click->forms--password#toggle" } %>
          </div>
        </div>

        <div class="mt-6 mb-3">
          <h3 class="text-center text-gray-600 text-xl font-semibold">
            Or
          </h3>
        </div>

        <div>
          <%= f.label :file, "Or QR Code image" %>
        </div>
        <%= f.file_field :file, accept: "image/png", data: { action: "change->utils--qr-code-file-scanner#fileSelected" } %>

        <div class="mt-8">
          <%= f.submit "Log In", class: "pure-button pure-button-primary w-full bg-indigo-700 text-xl font-bold" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
