<div class="mb-4 text-center mt-10 text-4xl font-bold text-gray-700">
  Create your profile
</div>

<div class="p-4 pt-4">
  <%= form_with url: register_sessions_path, class: "w-full md:w-1/3 mx-auto pure-form", scope: :profile, id: "register" do |f| %>
    <fieldset>
      <input type="hidden" value="<%= params[:login_token] %>" name="login_token">

      <div class="mb-2">
        <div>
          <%= f.label :name, "Name:" %>
        </div>
        <%= f.text_field :name, required: true, placeholder: "Your name", class: "w-full" %>
      </div>

      <div class="mb-2">
        <div>
          <%= f.label :username, "Username:" %>
        </div>
        <%= f.text_field :username, required: true, placeholder: "Your username you wish", class: "w-full" %>
      </div>

      <div class="mb-4">
        <div>
          <%= f.label :gender, "Gender:" %>
        </div>
        <%= f.select :gender, Profile.genders.sort, {}, class: "w-full", required: true %>
      </div>

      <%= render Setup::ChecksBeforeRegisterComponent.new(f: f) %>
    </fieldset>
  <% end %>
</div>
