<div class="p-4 pt-10">
  <%= form_with url: register_sessions_path, class:"w-full md:w-1/3 mx-auto", scope: :profile do |f| %>
    <div class="text-center">
      <h3>Create your profile</h3>
    </div>
    <fieldset>
      <input type="hidden" value="<%= params[:login_token] %>" name="login_token">

      <%= f.label :name %>
      <%= f.text_field :name, required: true, placeholder: "Your name" %>

      <%= f.label :username %>
      <%= f.text_field :username, required: true, placeholder: "Your username you wish" %>

      <%= f.label :gender %>
      <%= f.select :gender, Profile.genders %>

      <%= f.submit "Save profile", class: "button-primary w-full" %>
    </fieldset>
  <% end %>
</div>