<div>
  <div class="flex items-center justify-between">
    <div class="font-thin text-5xl">
      <%= current_peer.username %>
    </div>

    <div>
      <%= react_component "profile-actions",
          { "peer_info" => current_peer.as_json(only: %i(id friend_ship_status)) }.deep_transform_keys! { |key| key.camelize(:lower) } %>
    </div>
  </div>
  <div>
    <%= react_component "profile-stats", peer_ip: current_peer.ip %>
  </div>

  <% if current_peer.about.present? %>
    <%= stimulus_controller :div, "utils/dropdown_text", class: "h-32 border-b border-black w-full overflow-y-hidden cursor-pointer", data: { height: "h-32" } do %>
      <div data-action="click->utils--dropdown-text#toggleShow">
        <%= simple_format current_peer.about %>
      </div>
    <% end %>
  <% end %>
</div>
