<!DOCTYPE html>
<html>
  <head>
    <title><%= PageService::Title.new(@title).call! %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= snowpacker_hmr_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <%= yield :head %>
    <%= javascript_include_tag "turbo", type: "module" %>
    <%= stylesheet_snow_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_snow_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col justify-between min-h-screen">
      <div>
        <% if signed_in? %>
          <%= render partial: "page/navbar" %>
        <% end %>
        <div class="p-4">
          <%= yield %>
        </div>
      </div>

      <% if signed_in? %>
        <%= render partial: "page/footer" %>
      <% end %>
    </div>
  </body>
</html>
