<!DOCTYPE html>
<html>
<head>
  <title><%= PageService::Title.new(@title).call! %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
  <link rel="stylesheet"
        href="//unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>
  <%= javascript_include_tag "application", media: "all", 'data-turbo-track': "reload" %>
  <%= javascript_packs_with_chunks_tag "application", 'data-turbo-track': "reload" %>
  <%= stylesheet_packs_with_chunks_tag "application", 'data-turbo-track': "reload" %>
  <script src="//unpkg.com/@highlightjs/cdn-assets@10.7.1/highlight.min.js"></script>
  <%= stylesheet_link_tag "documentation", media: "all", 'data-turbo-track': "reload" %>
  <%= javascript_include_tag "documentation", media: "all", 'data-turbo-track': "reload" %>
<body>
  <div>
    <div class="fixed">
      <%= render partial: "documentations/side_nav" %>
    </div>
    <div class="mr-2 ml-64 pl-4">
      <%= yield %>
    </div>
  </div>
</body>
</html>
